body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin-top: 70px;
}

.logo {
  height: 50px;
}

.parallax-section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.modal-content {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #7d7d7d; /* borda suave */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* blur no fundo */
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6); /* sombra mais escura */
  color: #fff;
  transition: transform 0.3s ease;
}

.modal-header {
  border-bottom: 1px solid #7d7d7d;
}

.modal-title {
  color: #ffffff;
}

.modal-body {
  color: #ffffff;
}

.form-control {
  border-radius: 5px;
  background-color: #000000;
  border: 1px solid #7d7d7d;
  color: #ffffff;
}

.form-control:focus {
  border-color: #7d7d7d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #151599;
  border-color: #151599;
}

.btn-primary:hover {
  background-color: #4949e0;
  border-color: #4949e0;
}

.glass-card-dark {
  background: rgba(0, 0, 0, 0.35); /* fundo escuro com transparência */
  border: 1px solid #7d7d7d; /* borda suave */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* blur no fundo */
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6); /* sombra mais escura */
  color: #fff;
  transition: transform 0.3s ease;
}

.glass-card-dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.7);
}

.social-icons i {
  font-size: 32px; /* Aumenta o tamanho dos ícones */
  margin: 0 10px;   /* Espaçamento entre os ícones */
  color: #ffffff;   /* Cor dos ícones */
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
  color: #151599;        /* Cor ao passar o mouse (opcional) */
}

.dark-img {
  filter: brightness(0.7); /* escurece a imagem em 30% */
  transition: filter 0.3s ease;
}

.dark-img:hover {
  filter: brightness(1);
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px;
}

/* Header transparente padrão */
#mainHeader {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1030; /* acima do restante da página */
}

/* Quando a classe "scrolled" for aplicada */
#mainHeader.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* preto translúcido */
  backdrop-filter: blur(8px); /* opcional: dá um efeito moderno */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* leve sombra */
}